body{
    background-color: rgb(15, 23, 42);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.navList{
    display: flex;
    align-items: center;
    gap: 20%;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.navLink{
    text-decoration: none;
    color:#e2e8f0;
}

.introduction{
    width: 30%;
    height: auto;
    margin-left: 5%;
}

.mainLine{
    color:#e2e8f0;
    font-size: 400%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.firstParagraph{
    color:#e2e8f0;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.buttonHolder{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10%;
}

button{
    background-color:#f9744b;
    color:#e2e8f0;
    height: 7dvh;
    width: 20dvh;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1%;
    margin-right: 2%;
    margin-top: 2%;
}

.contactMe{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#e2e8f0;
    font-size: larger;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color:#f9744b;
    margin-left: 3%;
}

