html, body{
    background-color: #DEF2F8;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    width:100%;
    overflow-x: hidden;
}

.mainContent{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.introduction{
    min-width: 30%;
    max-width: 60%;
    height: auto;
}

.mainLine{
    color:#ff6f21;
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.firstParagraph{
    color:#008DD5;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pictureContainer{
    background-color: #008DD5;
    min-width: auto;
    max-width: 50%;
    margin-left:10%;
    margin-top:10%;
}

.skills{
    width: 80%;
    margin: auto;
}

.skillsText{
    display: flex;
    justify-content: center;
}

.skillsText h1{
    color: #ff6f21;
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skillsContainerTop, .skillsContainerBottom{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.skillsContainerTop a img, .skillsContainerBottom a img{
    width: 16vw;
    height: auto;
}

.parentBar{
    margin: auto;
    width: 80%;
    margin-top: 2%;
    height: 20vw;
    background-color: #DEF2F8;
    display: flex;
}

.contacts{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wheretoFineMe{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6f21;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500%;
    width: 40%;
}

.contacts a img{
    width: 8vw;
    height: auto;
}

