html, body{
    background-color: #DEF2F8;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    width:100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
}

.resumeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 12vw;
    height: 4vw;
    border-radius: 10%;
    border: 3px solid #ff6f21;
    font-family: sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 3px #008DD5;
    font-size: 2vw;
    color: #ff6f21;
    background-color: #DEF2F8;
}

.resumeButton:hover{
    color: white;
    background-color:#ff6f21;
}

.mainContent{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.introduction{
    min-width: 30%;
    max-width: 50%;
    height: auto;
}

.mainLine{
    margin: 0;
    color:#ff6f21;
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.firstParagraph{
    color:#008DD5;
    font-size: 1.5vw;
    line-height: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pictureContainer{
    background-color: #008DD5;
    min-width: auto;
    max-width: 50%;
    margin-left:10%;
    margin-top:10%;
}

.skills{
    width: 80%;
    margin: auto;
}

.skillsHolder{
    
}

.skillsHolder div{
    display: flex;
    justify-content: flex-end;

}

.skillsHolder div a{
    text-decoration: none;
}

.skillsHolder div a:hover{
    background-color: #ff6f21;
}

.skillsHolder div a h1:hover{
    color: white;
}

.skillsHolder div a h1{
    color: #ff6f21;
    font-size: 8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-decoration: none;
    width: 100%;
}

.parentBar{
    margin: auto;
    width: 80%;
    margin-top: 2%;
    height: 20vw;
    background-color: #DEF2F8;
    display: flex;
}

.contacts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.contacts a img{
    width: 8vw;
    height: auto;
}

