body{
    background-color: rgb(15, 23, 42);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.navList{
    display: flex;
    align-items: center;
    gap: 20%;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.navLink{
    text-decoration: none;
    color:#e2e8f0;
}